PORT=5000
MONGO_URI=mongodb://campusGuardian:campusGuardian1234@ac-k8ccork-shard-00-00.9chvfbw.mongodb.net:27017,ac-k8ccork-shard-00-01.9chvfbw.mongodb.net:27017,ac-k8ccork-shard-00-02.9chvfbw.mongodb.net:27017/campus_guardian?ssl=true&replicaSet=atlas-a0pfdw-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=campus_guardian_secret_2026
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173e
